@page "/states/create/{CountryId:int}"
<h3>Crear Dpto/Estado/Provincia</h3>
<FormWithName @ref="stateform"
              Label="Estado/Dpto/Prov.:" Model="state" OnValidSubmit="CreateAsync" ReturnAction="Return" />
