@page "/countries"
<h3>Paises </h3>
<hr />
<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo País</a>

</div>



<GenericList Mylist="ListaPaises">
   @*  <Loading>
        <p>Cargando...</p>

    </Loading> *@
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pais</th>
                    <th>Departamentos / Provincias / Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in ListaPaises!)
                {
                    <tr>
                        <td>@p.Name</td>
                        <td>@p.StatesNumber</td>
                        <td>
                            <a href="/countries/edit/@p.Id" class="btn btn-warning btn-sm">Editar </a>
                            <a href="/countries/details/@p.Id" class="btn btn-info btn-sm">Detalles </a>
                            <button @onclick="@(() => DeleteAsync(p))" class="btn btn-danger btn-sm">Borrar</button>
                        </td>
                    </tr>

                }


            </tbody>
        </table>

    </Body>

</GenericList>




